@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

body{
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
}

.title {
  /*font-family: 'Palette Mosaic', cursive;*/
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 150px;
  text-align: center;
  margin-top: 200px;
}


.title2 {
  /*font-family: 'Palette Mosaic', cursive;*/
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 100px;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  opacity: 0;
  color: black;
  animation-name: fadeInOut;
  animation-duration: 9s;
}

.cranefadein {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  animation-name: fadeInOut;
  animation-duration: 5s;
}

/*topFadeOut
bottomFadeOut
topFadeOutVertical
rightFadeInOut 
fadeInOut*/

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: 1000;
}

.wrapper {
  background: white;
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}

.paper-squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.paper-squares li {
  position: absolute;
  list-style: none;
  display: block;
  width: 180px;
  height: 180px;
  background-color: rgba(114, 193, 157, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.paper-squares li:nth-child(1) {
  background-color: rgba(0, 0, 255, 0.15);
  left: 10%;
}

.paper-squares li:nth-child(2) {
  left: 20%;
  width: 240px;
  height: 240px;
  background-color: rgba(240, 73, 63, 0.15);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}

.paper-squares li:nth-child(3) {
  left: 25%;
  background-color: rgba(255, 255, 0, 0.15);
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.paper-squares li:nth-child(4) {
  left: 40%;
  width: 260px;
  height: 260px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(0, 255, 255, 0.25);
}

.paper-squares li:nth-child(5) {
  left: 70%;
}

.paper-squares li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 0, 255, 0.2);
}

.paper-squares li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.paper-squares li:nth-child(10) {
  background-color: rgba(255, 0, 255, 0.25);
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
}


@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 100%;
  }
}

.top-section {
  color: black;
  height: 400px;
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  background-size: 66%;
  background-position-x: -580px, 1090px;
}

.step-number {
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 90px;
  margin-top: 20px;
}

.box {
  width: 300px;
  height: 300px;
  border: none;
  outline-offset: 4px;
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
}

.box:first-of-type {
  margin-right: 16px;
}

.wrapper {
  display: flex;
}


.paper {
  display:  flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

.accomp {
  display:  flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

.paper2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  text-align: center;
  
}

.paper2 img {
    width: 30%;
    height: auto;
}


.foldtop-button {
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  padding: 12px;
  font-size: 20px;
}

.buttoncenter {
  text-align:center;
}

.choices {
  display:  flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom:150px;
}

.paragraphs {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-bottom: 100px;
}

.paragraphsleft {
  font-family: 'Poppins', sans-serif;
  font-weight: 20px;
  font-size: 20px;
  text-align: left;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-bottom: 50px;
}

.bolded { 
  font-weight: bold; 
}

.congrats {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 180;
  font-size: 20px;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.congratsheading {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 30px;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.congratsparagraph {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 100px;
}

.craneheading {
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 100px;
  text-align: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.quote {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 50;
  font-size: 70px;
  text-align: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color:  gray;
}

.top-header {
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
}

.homebutton {
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  padding: 12px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
}


.transitionmark {
  color: black;
  animation-name: fadeInOut;
  animation-duration: 5s;
}



